@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}
body {
    min-height: 100vm;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}
.main-div, .thank-you-div {
    margin-top: 10rem;
    background-color: hsl(213, 19%, 18%);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }